{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login" style="text-align:center;">

    <h1 style="margin-top:25px;">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="table solid border w-auto" style="margin-left:auto;margin-right:auto;margin-top:25px;">
            <tr>
                <td style="vertical-align:middle;">Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td style="vertical-align:middle;">Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
        </table>
        <td><input class="btn btn-primary" type="submit" value="Login" style="margin-bottom:25px;"></td>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="list-style:none">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}